<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.chordable</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chordable</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Chango-Regular.ttf</string>
		<string>Barlow-Regular.ttf</string>
		<string>Barlow-Italic.ttf</string>
		<string>Barlow-SemiBold.ttf</string>
		<string>Barlow-BlackItalic.ttf</string>
		<string>Barlow-BoldItalic.ttf</string>
		<string>Barlow-Medium.ttf</string>
		<string>Barlow-Bold.ttf</string>
	</array>
</dict>
</plist>
